<table class="table table-map">
    <tr>
        <% for(var i = 0; i < cases.length; i++) { %>
        <% if (i % 10 == 0 && i != 0) { %>
    </tr>
    <tr>
        <% } %>
        <td class="case <% if(cases[i].type == 'rock'){ %>
        rock-case
<% }else if(cases[i].type == 'water'){ %>
sea-case
<% } else if(cases[i].type == 'bridge' && cases[i].horizontalBridge){ %>
horizontal-bridge
<% }else if(cases[i].type == 'bridge' && cases[i].horizontalBridge == false) { %>
vertical-bridge
<% }else{ %>
neutral-case
<% } %>"

                <% if(typeof(cases[i].ownedBy) != 'undefined'){ %>
            style="background-color:<%= cases[i].ownedBy.colorCase %>;"
                <% } %>

        >
            <% if(typeof(cases[i].ownedBy) != 'undefined'){ %>
            <%= cases[i].ownedBy.name %>
            <% } %>
            <br/>
            <%= cases[i].units.length %>/<%= cases[i].unitMax %>
        </td>

        <% } %>
    </tr>
</table>