<h1>Début de la game</h1>

<p>Id de la game: <%= game.id %></p>
<h2>Joueurs de la partie:</h2>
<p>
    <% game.players.forEach(function(elm, index) { %>
    player <%- index %>:<br/>
    id: <%- elm.id %><br/>
    name: <%- elm.name %><br/><br/>
    <% }); %>
</p>