<script>
    <%- partial('./partials/client-js/game.js') %>
</script>
<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <%- partial('./partials/generateMap.ejs', {map: map}) %>
    </div>
</div>
