<h1>HomePagePlayer</h1>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choix de votre couleur</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control" id="select-color">
                        <option value="red">Rouge</option>
                        <option value="green">Vert</option>
                        <option value="grey">Gris</option>
                        <option value="purple">Violet</option>
                        <option value="yellow">Jaune</option>
                        <option value="pink">Rose</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-play-game" data-dismiss="modal">Play</button>
                <button type="button" class="btn btn-primary" id="cancel-play">Cancel</button>
            </div>
        </div>
    </div>
</div>