body {
    color: #696969;
    background-color: rgb(32, 32, 32);
}

.main-content {
    background-color: rgb(12, 12, 12);
}

.no-padding {
    padding: 0;
}

.navbar {
    background-color: rgb(12, 12, 12);
}

.navbar-default {
    border: none;
}

.navbar-nav > li > a {
    color: blue !important;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav > li > a:hover {
    color: rgb(255, 0, 0) !important;
}

.navbar-collapse {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar ul.nav {
    margin: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.navbar ul.nav li {
    float: right;
    display: table-cell;
    width: 100%;
    float: none;
    text-align: center;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 333px 3px 0;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav > .open > a {
    background-color: rgb(12, 12, 12) !important;
}

.dropdown-menu {
    background-color: black;
    border: 1px solid blue;
}

.dropdown-menu > li > a {
    color: blue !important;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.dropdown-menu > li > a:hover {
    background-color: black;
}

.username {
    cursor: pointer;
}

.icon-blind-test {
    float: left;
    max-width: 50%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.table-map {
    align: center;
}

.case {
    height: 60px;
    width: 60px;
    background-color: white;
    border: 1px solid blue;
}

.case:hover, .case-selected {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.case {
    background-size: cover;
}

.sea-case {
    background-image: url('../images/background-sea.png');
}

.rock-case {
    background-image: url('../images/background-mountain.png');
}

.horizontal-bridge {
    background-image: url('../images/horizontal-bridge.png');
}

.vertical-bridge {
    background-image: url('../images/vertical-bridge.png');
}

#infos-game {
    height: 150px;
    padding: 10px;
    border: 1px solid blue;
}

.not-researched {
    background-color: #DCDCDC;
}

.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

.table {
    text-align: center;
}